.employee-detail {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 2rem;
  padding-top: 1rem;
  width: 100%;
  overflow: auto;
  height: 100%;

  .employee-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    .employee-info {
      flex-grow: 1;
      display: flex;
      gap: 20px;
      justify-content: space-between;
      flex-direction: column;

      .employee-data {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;

        .employee-personal-info {
          min-width: 250px;

          h2 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 10px;
          }

          p {
            margin: 0.3rem 0;
            font-size: 0.9rem;
            color: #555;
          }
        }

        .employee-status {
          text-align: right;
          min-width: 250px;

          p {
            margin: 0.3rem 0;
            font-size: 0.9rem;
            color: gray;
          }
          > button {
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 590px) {
  .employee-detail {
    .employee-container {
      .employee-info {
        .employee-data {
          .employee-status {
            text-align: left;
          }
        }
      }
    }
  }
}
