.employee-detail {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 900px;
  margin: auto;

  .employee-container {
    display: flex;
    justify-content: space-between;
    height: 300px;
    gap: 20px;

    .employee-avatar {
      width: 300px;
      height: 300px;
      flex-shrink: 0;
      background-color: #aaf;
      border-radius: 10px;
      position: relative;
      display: flex;

      .inactive-label {
        position: absolute;
        bottom: 10px;
        width: 90%;
        background-color: rgb(255, 94, 0);
        color: white;
        text-align: center;
        padding: 5px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 5px;
      }
    }

    .employee-info {
      width: 100%;
      display: flex;
      gap: 10px;
      justify-content: space-between;
      flex-direction: column;

      .employee-data {
        display: flex;
        width: 100%;
        justify-content: space-between;

        .employee-personal-info {
          min-width: 250px;

          h2 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
          }

          p {
            margin: 0.3rem 0;
            font-size: 0.9rem;
            color: #555;
          }
        }

        .employee-status {
          text-align: right;
          min-width: 250px;

          p {
            margin: 0.3rem 0;
            font-size: 0.9rem;
            color: gray;
          }

          .deactivate-button {
            background-color: #ff4d4f;
            color: white;
            padding: 0.5rem 1rem;
            font-weight: bold;
            border-radius: 0.25rem;
            border: none;
          }

          .deactivate-button:hover {
            background-color: darkred;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .employee-header {
    flex-direction: column;
    align-items: flex-start;

    .employee-info {
      margin-left: 0;
      margin-top: 1rem;
    }

    .employee-status {
      text-align: left;
      margin-top: 1rem;
    }
  }

  .employee-actions {
    flex-direction: column;
    gap: 0.5rem;
    align-items: stretch;
  }
}
